$primary: #4157d1;
$secondary: #4f4f4f;
$white: #fff;
$black: #000;

// @import "node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
body {
  font-family: "Lato" !important;
  max-width: 100%;
  overflow-x: hidden !important;
  font-style: "normal";
  font-size: 1rem;
}
a {
  text-decoration: none !important;
}
.bg-primary {
  background-color: $primary;
}
.text-primary {
  color: $primary;
}
.border-primary {
  border: 2px solid $primary;
}
.focus-none:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

// step progress bar
.indexedStep {
  color: black;
  width: 40px;
  height: 40px;
  font-size: 12px;
  background-color: #d3d3d3ec;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  color: white;
  background-color: $primary;
}

.test {
  position: absolute;
  margin-top: 40px;
  white-space: nowrap;
}
